body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
}


button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 190px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}


h1 {
    font-size: 60px;
    text-align: center;
    padding: 30px 30px 50px;
    margin-bottom: 50px;
}

#library-list {
    background-color: #536d69;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
}


#new-book {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background-color: #536d69;
    border-radius: 10px;
    color: #ffffff;
}
#submit-btn {
    position: relative;
    margin: 10px;
    padding: 5px;
    background-color: #536d69;
    border-radius: 10px;
    color: #ffffff;
}
#new-book:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}
#submit-btn:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}
button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}